.back-color0 {
  background-color: #fff;
}

.back-color1 {
  background-color: #BE7052;
}

.back-color2 {
  background-color: #f1f1f1;
}

.color0 {
  color: #fff;
}

.color1 {
  color: #BE7052;
}

.color2 {
  color: #f5222d;
}